@import url(../lead/__tittle/lead__tittle.css);
@import url(../lead/__subtittle/lead__subtittle.css);
@import url(../lead/__image/lead__image.css);
@import url(../lead/__capiton/lead__capiton.css);

.lead {
    max-width: 985px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 1279px) {
    .lead {
        width: calc(100% - 96px);
    }
}

@media (max-width: 1023px) {
    .lead {
        width: 100%;
    }
}
