@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__nav/footer__nav.css);
.footer {
    max-width: 1184px;
    padding-top: 92px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: baseline;
}

@media (max-width: 1279px) {
    .footer {
        width: calc(100% - 96px);
    }
}

@media (max-width: 1023px) {
    .footer {
        width: calc(100% - 48px);
    }
}

@media (max-width: 767px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content;
        grid-row-gap: 36px;
        margin: 0 auto;
        padding-top: 64px;
    }
}